main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/*--- Section commandes ---*/

#history-orders >h2{
  text-align: center;
}

#history-orders .list-orders{
    display: grid;
    grid-template-rows: repeat(2,50px) 100px 10px;
    justify-content: center;
    border: 0.5px solid rgb(233, 233, 233);
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgb(221, 221, 221);
    /* box-shadow: -3px 3px 10px rgb(184, 183, 183); */
}


.head-info,
.data-info
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border-bottom: 1px solid rgb(209, 207, 207); */
}

.head-info{
    font-weight: 300;
    text-transform: uppercase;
}

.data-info
{
   margin-bottom: 10px;
    border-bottom: 1px solid rgb(209, 207, 207);
}


.head-info div,
.data-info div
{
   text-align: center;
}


.action-info{
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   margin-bottom: 10px;
}

.action-info > .action-cta{
    justify-self: center;
    border-left: 1px solid rgb(209, 207, 207);
    border-right: 1px solid rgb(209, 207, 207);
    padding:1.5rem;
}

.action-info > img{
    width: 8rem;
}

.action-cta .cta-btn{
    /* background-color: blue; */
    margin: 2px;
}

.action-pdf{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
